
<aside class="side-icons">
    <ul>
    <li><a href="https://www.npmjs.com/package/cat-me" target="_blank"><i class="fas fa-cat"></i></a></li>
    <li><a href="https://www.dailymotion.com/video/xy356k"target="_blank"><i class="fas fa-book-open"></i></a></li>
    <li><a href="https://www.tripadvisor.fr/Attraction_Review-g1136493-d15099716-Reviews-L_Athenee-Ixelles_Brussels.html"target="_blank"><i class="fas fa-beer"></i></a></li>
    </ul>
</aside>