<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LaMin</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dea848dbcf.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <h1>
      <i class="fas fa-quote-left"></i>
    </h1>
    <nav>
      
     <a href="/">about</a>
     <a href="/somestuff">some stuff</a>
     <a href="/jeanluc">jean-luc</a>
     <a href="/links">links</a>
     <a href="/choosebetween">qui de JL ou JC</a>
     

    </nav>
  </header>
 