<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Oops</title>
</head>
<body>
    <div class="errorcontainer">
            <img src="http://thisdistractedglobe.com/wp-content/uploads/2007/08/LAvventura%20pic%201.jpg" alt="monica vitti" class="jack">
            </br>
            <div class="four">404</div>
    </div>
</body>
</html>