<%- include('partials/header') %> 

<%- include('partials/footer') %> 

    <div class="container">

<p><span>Hi there.<br>
Here are some random facts about me:</span><br>
Art school. Javascript. Found footage. Vietnam. France. UK. Belgium. Peter Kubelka and Grey's Anatomy are not incompatible.</br>
Baudelaire might have enjoyed watching the Real Housewives.
In 2020, Walter Benjamin could've written a whole essay about Covid and Netflix.</br>
still want to reach me?<br>
</br> 
laraminski@hotmail.fr
</p>

    </div>
 