<%- include('partials/header') %>

<div id="choose">
<button id="randomsentence">Qui parle?</button>
<div id="jljc"></div>
<div id="answer"></div>

<div class="whole-block">  
<div class="jc-block">
<button id="jeanclaude">C'est Jean-Claude</button>
</div>

<div class="jl-block">
<button id="jeanluc">C'est Jean-Luc</button>
</div>
</div>



</div>
<%- include('partials/footer') %>
<script src="/chooseBetween.js"></script>

