<%- include ('partials/header') %> 

<div id="container">
    <div id="god"></div>

    <button id="button">Tell me something Jean-Luc</button> 
            <div id="text"></div>

</div>


 <script src="/sentence-gen.js" charset="utf-8"></script> 

<%- include ('partials/footer') %> 


