<%- include('partials/header') %> 

<div class="container">

<p>Some of my work can be found <a href="https://www.centresesame.be/arts-visuels">here</a> and <a href="https://youtu.be/VDs9MecxDG0">this </a>was shown <a href="https://www.pointculture.be/bruxelles/courriels/l%C3%A9t%C3%A9-au-pointculture-bruxelles/">here</a>.</p>

</div>

<%- include('partials/footer') %> 