<%- include('partials/header') %> 

<div class="somestuffbod">
    
    <div class="pictures-1 collage"></div>
    <div class="deep-down script"></div>
    <div class="memoire-1"></div>
    
    <div class="fin-de-cycle cycle"></div>
    <div class="pictures-2 collage"></div>
    <div class="pictures-3 collage"></div>
    <div class="deep-down-2 script"></div>
    <div class="memoire-2"></div>
    <div class="fin-de-cycle-2 cycle"></div>
    

</div>

<%- include('partials/footer') %> 